target/**
*.jar
*.war
*.ear
*.class
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
*~
antProperties.xml  
.gradle/     
